<!DOCTYPE html>
{% load static %}
{% load abbr %}
{% load redirect_tag %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ book }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'catalog/book.css' %}"/>
  <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
</head>
<body>
<form class="add-by-isbn" method="post" action="{% url 'import_by_isbn' %}">
  <div>
    <a href="{% url 'index' %}">Catalog Index</a>
    —
    {% csrf_token %}
    {% redirect_tag %}
    Add by ISBN: {{ isbn_form.isbn }}
    <button>Submit</button>
  </div>
</form>

<h1>{{ book }}</h1>

<div class="book-details">
  <div class="book-cover">
    {% if book.cover_image.is_available %}
    <a href="https://openlibrary.org/isbn/{{ book.isbn }}">
      <img src="{{ book.cover_image.url }}"/>
    </a>
    {% endif %}
  </div>

  <div class="book-metadata">
    <h2>Metadata</h2>
    <dl>
      <dt>Title</dt>
      <dd>
        {% include 'catalog/show_field.html' with field_name='title' value=book.title %}
      </dd>
      <dt>Subtitle</dt>
      <dd>
        {% include 'catalog/show_field.html' with field_name='subtitle' value=book.subtitle %}
      </dd>
      {% for credit in book.credits.all %}
      <dt class="label-{{ credit.role }}">{{ credit.role.capitalize }}</dt>
      <dd class="value-{{ credit.role }}">
        <a href="{% url 'index' %}?{{ credit.role }}={{ credit.person.name | urlencode }}">
          {{ credit.person.name }}
        </a>
      </dd>
      {% endfor %}

      {% for serial in book.series_memberships %}
      <dt>Series</dt>
      <dd><a href="{% url 'index' %}?series={{ serial.series.title }}">{{ serial.series.title }}</a> Book {{ serial.order }}</dd>
      {% endfor %}

      <dt>Published</dt>
      <dd>
        {% include 'catalog/show_field.html' with field_name='publication_date' value=book.publication_date %}
      </dd>
      <dt>Publisher</dt>
      <dd>
        {% include 'catalog/show_field.html' with field_name='publisher' value=book.publisher %}
      </dd>
      <dt>Format</dt>
      <dd class="value-format">
        {% include 'catalog/show_field.html' with field_name='format' value=book.format %}
      </dd>

      <dt>ISBN</dt>
      <dd>
        {% include 'catalog/show_field.html' with field_name='isbn' value=book.isbn %}
      </dd>
      <dt>UUID</dt>
      <dd>{{ book.uuid }}</dd>

      {% for tag in book.sorted_tags %}
      <dt class="label-tag">Tag</dt>
      <dd class="value-tag"><a href="{% url 'index' %}?tag={{ tag }}">{{ tag }}</a></dd>
      {% endfor %}
      <dt></dt>
      <dd>
      <form method="post" action="{% url 'book_tags' pk=book.id %}">
        {% csrf_token %}
        {{ tag_form.tag }}
        <button>Add Tag</button>
      </form>
      </dd>
    </dl>

    {% if book.cover_image.is_available %}
    <p>Cover image courtesy of <a href="https://openlibrary.org/">Open Library</a>.</p>
    {% endif %}
  </div>

  {% if book.classifiers %}
  <div class="book-classifiers">
    <h2>Classifiers</h2>
    <dl>
      {% for type, value in book.classifiers.items %}
      <dt>{{ type.upper|abbr }}</dt>
      {% if type == 'fast' %}
      <dd>
      <dl>
	{% for k, v in value.items %}
	<dt>{{ k }}</dt>
	<dd>{{ v }}</dd>
	{% endfor %}
      </dl>
      </dd>
      {% else %}
      <dd>{{ value }}</dd>
      {% endif %}
      {% endfor %}
    </dl>
  </div>
  {% endif %}
</div>

</body>
</html>
