<!DOCTYPE html>
{% load static %}
{% load redirect_tag %}
{% load url_query %}
{% load search_form %}
{% load pagination %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/index.css' %}"/>
</head>
<body>
    <div class="controls">
        {{ page_obj.paginator.count }} results
    </div>

    {% paginate %}

    <div class="controls">
        {% search_form "Search" 30 q=filters.q %}
        {% search_form "Find by ISBN" 13 isbn=filters.isbn %}

        <form method="post" action="" class="search-form">
            {% csrf_token %}
            <select name="filter_name">
                {% for filter_label, filter_name in filter_names.items %}
                <option value="{{ filter_name }}">{{ filter_label }}</option>
                {% endfor %}
            </select>
            <select name="filter_operation">
                <option value="~">matches</option>
                <option value="">is</option>
                <option value="^">begins with</option>
                <option value="$">ends with</option>
            </select>
            <input type="text" name="filter_value"/>
            <button>Add filter</button>
        </form>
    </div>

    {% include './filters.html' %}

    <form method="post" action="">
        {% csrf_token %}
        {% redirect_tag %}
        <table>
            <thead>
                <tr>
                    <th id="select-column"></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Publisher</th>
                    <th>Format</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                {% for book in page_obj %}
                <tr>
                    <td>
                        <input type="checkbox" name="book_id" value="{{ book.id }}"/>
                    </td>
                    <td>
                        <span class="book-title">
                            <a href="{% url 'show_book' book.id %}">{{ book.title }}</a>
                        </span>
                        {% if book.subtitle %}<span class="book-subtitle">{{ book.subtitle }}</span>{% endif %}

                        {% for serial in book.series_memberships %}
                        <span class="book-series"><a href="{% add_filter 'series' serial.series.title %}">{{serial.series.title}}</a> Book {{serial.order}}</span>
                        {% endfor %}

                        <div class="tags">
                            {% for tag in book.plain_tags %}
                            <a href="{% add_filter 'tag' tag %}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <ul class="book-credits">
                            {% for person in book.author %}
                            <li class="credit"><a href="{% add_filter 'author' person.name %}">{{ person.name }}</a></li>
                            {% endfor %}
                            {% for person in book.editor %}
                            <li class="credit"><a href="{% add_filter 'editor' person.name %}">{{ person.name }}</a> (Ed.)</li>
                            {% endfor %}
                            {% for person in book.annotator %}
                            <li class="credit"><a href="{% add_filter 'annotator' person.name %}">{{ person.name }}</a> (Annot.)</li>
                            {% endfor %}
                            {% for person in book.illustrator %}
                            <li class="credit"><a href="{% add_filter 'illustrator' person.name %}">{{ person.name }}</a> (Illus.)</li>
                            {% endfor %}
                            {% for person in book.translator %}
                            <li class="credit"><a href="{% add_filter 'translator' person.name %}">{{ person.name }}</a> (Trans.)</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{% add_filter 'publication_date' book.publication_date %}">{{ book.publication_date }}</a>
                    </td>
                    <td>
                        <a href="{% add_filter 'publisher' book.publisher %}">{{ book.publisher }}</a>
                    </td>
                    <td>
                        <a href="{% add_filter 'format' book.format %}">{{ book.format.capitalize }}</a>
                    </td>
                    <td>
                        {{ book.isbn }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="controls">
            <input type="text" name="tag"/>
            <button name="action" value="tag">Add tag</button>
            <button name="action" value="edit">Edit selected books</button>
        </div>
    </form>

    {% paginate %}

    <div class="controls">
        <a href="{% url 'import_books' %}">Import Book Titles</a> —
        <a href="{% url 'import_by_isbn' %}">Import by ISBNs</a> —
        <form class="add-by-isbn" method="post" action="{% url 'import_by_isbn' %}">
            {% csrf_token %}
            {% redirect_tag %}
            Add by ISBN: {{ isbn_form.isbn }}
            <button>Submit</button>
        </form>
    </div>

    <script src="{% static 'catalog/index.js' %}"></script>
</body>
</html>
