dl {
	display: grid;
	grid-template-areas: "key value";
	grid-row-gap: .5em;
	grid-template-columns: 10em 1fr;
	margin: 0;
}
dt {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
}
dd {
    margin-left: 0;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
}
dd>dl>dt {
    font-weight: normal;
    font-style: italic;
}
.book-metadata>h2 {
    visibility: hidden;
    height: 0;
    margin: 0;
}
.value-tag~.label-tag {
    visibility: hidden;
    border-bottom: 1px solid #ccc;
}