/* base */
table {
    border-collapse: collapse;
}
td, th {
    padding: .25em .5em;
    line-height: 1.5;
}
th {
    text-align: left;
    border-bottom: 2px solid #999;
}
td {
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
a:hover {
    text-decoration: none;
}

/* modules */
.pagination, .filters, .controls {
    margin: 1em 0;
}

.add-by-isbn {
    display: inline;
}
.book-title {
    font-weight: bold;
}
.book-series,
.book-subtitle {
    color: #999;
}
.book-series:before,
.book-subtitle:before {
    content: " — ";
}
.tags {
    margin: 0;
}
.book-credits {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.credit {
    white-space: nowrap;
}