table {
    border-collapse: collapse;
}
td, th {
    padding: 0 .5em;
    max-width: 40em;
    line-height: 1.5;
}
th {
    text-align: left;
    border-bottom: 2px solid #999;
}
td {
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
div {
    margin: 1em 0;
}

.add-by-isbn {
    display: inline;
}
.book-title {
    font-weight: bold;
}
.book-series,
.book-subtitle {
    color: #999;
}
.book-series:before,
.book-subtitle:before {
    content: " — ";
}
