table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid #ccc;
    padding: .5em 1em;
    max-width: 40em;
    line-height: 1.33;
}
th {
    background-color: #ddd;
}
td {
    vertical-align: top;
}
div {
    margin: 1em 0;
}

.add-by-isbn {
    display: inline;
}
.book-subtitle {
    display: block;
    color: #999;
    margin-left: .5em;
}
