<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/index.css' %}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Series</th>
        <th>Author</th>
        <th>ISBN</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>
            {% for serial in book.series_memberships %}
            <a href="?series={{ serial.series.title|urlencode}}">{{serial.series.title}}</a>
            (Book {{serial.order}})
            {% endfor %}
        </td>
        <td>
            {% for author in book.author_list %}
            <a href="?author={{ author.name|urlencode }}">{{ author.name }}</a>
            {% endfor %}
        </td>
        <td>{{ book.isbn }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if filtered %}
<p>
    <a href="{% url 'index' %}">Clear Filters</a>
</p>
{% endif %}
<p>
    <a href="{% url 'import_books' %}">Import Book Titles</a>
</p>
</body>
</html>