<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/index.css' %}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Series</th>
        <th>Author</th>
        <th>ISBN</th>
    </tr>
    </thead>
    <tbody>
    {% for book in page_obj %}
    <tr>
        <td>{{ book.title }}</td>
        <td>
            {% for serial in book.series_memberships %}
            <a href="?series={{ serial.series.title|urlencode}}">{{serial.series.title}}</a>
            (Book {{serial.order}})
            {% endfor %}
        </td>
        <td>
            {% for author in book.author_list %}
            <a href="?author={{ author.name|urlencode }}">{{ author.name }}</a>
            {% endfor %}
        </td>
        <td>{{ book.isbn }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% if filtered %}
<div>
    <a href="{% url 'index' %}">Clear Filters</a>
</div>
{% endif %}
<div>
    <a href="{% url 'import_books' %}">Import Book Titles</a>
</div>
</body>
</html>